<content>
	<div class="progress">
		<div class="bar"></div>
		<div class="play-time"></div>
		<div class="song-length"></div>
	</div>
	<div class="score">
		<div class="wrapper">
		<!--
		<b note="c" octave="1"></b>
		<b note="d" octave="1"></b>
		<b note="e" octave="1"></b>
		<b note="f" octave="1"></b>
		<b note="g" octave="1"></b>
		<b note="a" octave="1"></b>
		<b note="b" octave="1"></b>

		<b note="c#" octave="2"></b>
		<b note="d#" octave="2"></b>
		<b note="f#" octave="2"></b>
		<b note="g#" octave="2"></b>
		<b note="a#" octave="2"></b>
		-->
		</div>
	</div>
	<div class="keyboard">
		<div class="wrapper">
			<i octave="1" note="c"></i>
			<b octave="1" note="c#"></b>
			<i octave="1" note="d"></i>
			<b octave="1" note="d#"></b>
			<i octave="1" note="e"></i>
			<i octave="1" note="f"></i>
			<b octave="1" note="f#"></b>
			<i octave="1" note="g"></i>
			<b octave="1" note="g#"></b>
			<i octave="1" note="a"></i>
			<b octave="1" note="a#"></b>
			<i octave="1" note="b"></i>
			
			<i octave="2" note="c"></i>
			<b octave="2" note="c#"></b>
			<i octave="2" note="d"></i>
			<b octave="2" note="d#"></b>
			<i octave="2" note="e"></i>
			<i octave="2" note="f"></i>
			<b octave="2" note="f#"></b>
			<i octave="2" note="g"></i>
			<b octave="2" note="g#"></b>
			<i octave="2" note="a"></i>
			<b octave="2" note="a#"></b>
			<i octave="2" note="b"></i>
			
			<i octave="3" note="c"></i>
			<b octave="3" note="c#"></b>
			<i octave="3" note="d"></i>
			<b octave="3" note="d#"></b>
			<i octave="3" note="e"></i>
			<i octave="3" note="f"></i>
			<b octave="3" note="f#"></b>
			<i octave="3" note="g"></i>
			<b octave="3" note="g#"></b>
			<i octave="3" note="a"></i>
			<b octave="3" note="a#"></b>
			<i octave="3" note="b"></i>
			
			<i octave="4" note="c"></i>
			<b octave="4" note="c#"></b>
			<i octave="4" note="d"></i>
			<b octave="4" note="d#"></b>
			<i octave="4" note="e"></i>
			<i octave="4" note="f"></i>
			<b octave="4" note="f#"></b>
			<i octave="4" note="g"></i>
			<b octave="4" note="g#"></b>
			<i octave="4" note="a"></i>
			<b octave="4" note="a#"></b>
			<i octave="4" note="b"></i>
			
			<i octave="5" note="c"></i>
			<b octave="5" note="c#"></b>
			<i octave="5" note="d"></i>
			<b octave="5" note="d#"></b>
			<i octave="5" note="e"></i>
			<i octave="5" note="f"></i>
			<b octave="5" note="f#"></b>
			<i octave="5" note="g"></i>
			<b octave="5" note="g#"></b>
			<i octave="5" note="a"></i>
			<b octave="5" note="a#"></b>
			<i octave="5" note="b"></i>
			
			<i octave="6" note="c"></i>
			<b octave="6" note="c#"></b>
			<i octave="6" note="d"></i>
			<b octave="6" note="d#"></b>
			<i octave="6" note="e"></i>
			<i octave="6" note="f"></i>
			<b octave="6" note="f#"></b>
			<i octave="6" note="g"></i>
			<b octave="6" note="g#"></b>
			<i octave="6" note="a"></i>
			<b octave="6" note="a#"></b>
			<i octave="6" note="b"></i>
		</div>
	</div>
</content>
