
content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	// flex-direction: column;
	flex-flow: column wrap;
	background: #303030;
	
	canvas {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.progress {
		position: relative;
		height: 19px;
	}
	
	.score {
		position: relative;
		flex: auto;
	}
	
	.keyboard {
		position: relative;
		height: 151px;
	}
}
